h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornflowerblue;
}

.myclass{
    font-size: 50px;
    color: aquamarine;
    font-weight: bold;
}

#myID{
    font-size: 14px;
    color:blueviolet;
    font-style: unset;
}

#back{

    background-image: url("green.jpeg");
    
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    
    float: left;
    
    width: auto;
    
    }